body {
    background-color: rgba(0, 0, 0, 0.794);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section {
  height: 500px;
 
}

.hero {
  font-size: 40px;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  /* width: 200px; */
  text-decoration: none;
}

footer {
  height: 500px;
  background-color: black;
}

h1 {
  font-size: 90px;
  margin: 0;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 100;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 100px;
}

.button {
  width: 200px;
  height: 45px;
  border-radius: 30px;
  text-align: center;
  background-color: aquamarine;
  color: black;
  font-size: 30px;
  font-weight: 100;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: azure;
}

button:active {
  background-color: darkgrey;
}

.socials {
  padding-bottom: 200px;
}
